:root {
    --bg-color: #ffffff;
    --text-color: #000000;
    --card-bg: #f9f9f9;
    --form-bg: #f9f9f9;
}

[data-theme="dark"] {
    --bg-color: #1e1e1e;
    --text-color: #f9f9f9;
    --card-bg: #2e2e2e;
    --form-bg: #2e2e2e;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: 'Brush Script MT', cursive;
    margin: 0;
    padding: 20px;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 3%;
    position: relative;
}

h1 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
}

#headerButtons{
    margin-left: auto;
}

.form-container {
    margin-bottom: 3%;
    text-align: center;
    color: var(--text-color);
    display: flex;
    justify-content: center;
}

#user-form{
    background-color: var(--form-bg);
    border: 1px solid var(--form-bg);
    width: 230px;
    padding: 5px;
    font-size: 17px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#user-form input{
    width: 177px;
    margin: 5px;
}

#user-form button{
    width: 75.58px;
    margin: 3px;
}

#user-form > button{
    width: 83.72px;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.card {
    background-color: var(--card-bg);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 300px;
    flex: 1 1 auto;
}

.card h2 {
    margin: 0 0 10px;
}

.card p {
    margin: 5px 0;
}

button {
    cursor: pointer;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

button.dark-mode-toggle {
    background-color: #007bff;
    color: white;
}

button.clear-data {
    background-color: #dc3545;
    color: white;
}